* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
}

.container {
    background-color: #fff;
    margin-top: 30px;
    width: 70%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px #0000001a;
}

.container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.container .group-input {
    display: flex;
    flex-direction: row;
}

#task-text {
    flex: 1;
    padding: 10px;
    border: 1px solid #b6b6b6;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
}

#add-task {
    margin-left: 5px;
    padding: 10px 15px;
    background-color: #7da37d;
    color: #fff;
    border: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

#add-task:hover {
    background-color: #6f8f6f;
}

#task-list {
    list-style-type: none;
    margin-top: 10px;
}

#task-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.check,
.delete,
.edit {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
}

.check {
    color: #00ff00;
}

.completed .check {
    color: #dc3545;
}
.edit {
    color: #007bff;
}

.delete {
    color: #dc3545;
}

.check:hover,
.delete:hover,
.edit:hover {
    transform: scale(1.3);
}

.completed {
    background-color: #dcedc8 !important;
}
